Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bun run eslint {staged_files} --max-warnings 0 --no-warn-ignored

format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

feat: migrate UI component library to Field tokens
  DESIGN_MEMORY.md
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/GlassPanel.tsx
  components/ui/StatCard.tsx
  components/ui/StatusIndicator.tsx
  components/ui/SurfacePanel.tsx
  components/ui/__tests__/Card.test.tsx
  components/ui/__tests__/GlassPanel.test.tsx
  components/ui/__tests__/StatCard.test.tsx
  components/ui/index.ts
  lib/design/__tests__/apply.test.ts
  lib/design/apply.ts
  lib/design/presets/field.ts
  tests/setup.ts
Due: lint, format

feat: add inline pricing and polish landing page
  app/page.tsx
  app/pricing/page.tsx
Due: lint, format

chore: update dependencies
  bun.lock
  package.json
Due: format

refactor: remove glass-era chrome from dashboard and status pages
  components/DashboardMonitorCard.tsx
  components/Footer.tsx
  components/StatusIndicator.tsx
  components/ZenStatusHero.tsx
Due: lint, format

fix: update tests to match current landing page and footer
  app/__tests__/home.test.tsx
  components/__tests__/Footer.test.tsx
Due: lint, format

polish: add cinematic mode tests, fix stale comments, improve error handling
  app/design-lab/page.tsx
  app/page.tsx
  components/InkAtmosphere.tsx
  components/__tests__/StatusIndicator.test.tsx
  components/landing/StatusDisplayVariants.tsx
Due: lint, format

design: Field token migration + landing page polish (#141)
  .gitignore
  DESIGN_MEMORY.md
  app/__tests__/home.test.tsx
  app/dashboard/error.tsx
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  app/design-lab/page.tsx
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  app/page.tsx
  app/pricing/page.tsx
  bun.lock
  components/DashboardMonitorCard.tsx
  components/Footer.tsx
  components/InkAtmosphere.tsx
  components/StatusIndicator.tsx
  components/SubscriptionGate.tsx
  components/ZenStatusHero.tsx
  components/__tests__/Footer.test.tsx
  components/__tests__/StatusIndicator.test.tsx
  components/landing/StatusDisplayVariants.tsx
  components/ui/Button.tsx
  components/ui/Card.tsx
  components/ui/GlassPanel.tsx
  components/ui/StatCard.tsx
  components/ui/StatusIndicator.tsx
  components/ui/SurfacePanel.tsx
  components/ui/__tests__/Card.test.tsx
  components/ui/__tests__/GlassPanel.test.tsx
  components/ui/__tests__/StatCard.test.tsx
  components/ui/index.ts
  convex/_generated/dataModel.d.ts
  lib/design/__tests__/apply.test.ts
  lib/design/apply.ts
  lib/design/presets/field.ts
  package.json
  tests/setup.ts
Due: lint, format

feat: SEO foundation — sitemap, OG images, JSON-LD, SSR landing, powered-by badge
  app/layout.tsx
  app/opengraph-image.tsx
  app/page.tsx
  app/pricing/layout.tsx
  app/robots.ts
  app/sitemap.ts
  app/status/[statusSlug]/opengraph-image.tsx
  app/status/[statusSlug]/page.tsx
  components/landing/AnimateOnView.tsx
  components/landing/HeroMonitorPanel.tsx
  components/landing/Navigation.tsx
  components/landing/PricingSection.tsx
  components/themes/ThemedStatusPage.tsx
  convex/monitors.ts
  middleware.ts
  public/llms.txt
Due: lint, format

fix: OG image font loading + middleware public routes
  app/opengraph-image.tsx
  app/status/[statusSlug]/opengraph-image.tsx
  middleware.ts
Due: lint, format

fix: review feedback — XSS in JSON-LD, font resilience, loading state
  app/layout.tsx
  app/opengraph-image.tsx
  app/page.tsx
  app/pricing/layout.tsx
  app/status/[statusSlug]/opengraph-image.tsx
  app/status/[statusSlug]/page.tsx
  components/landing/PricingSection.tsx
  lib/__tests__/json-ld.test.ts
  lib/json-ld.ts
Due: lint, format

polish: extract shared constants, deduplicate OG fonts, derive JSON-LD from TIERS
  app/layout.tsx
  app/opengraph-image.tsx
  app/page.tsx
  app/pricing/layout.tsx
  app/robots.ts
  app/sitemap.ts
  app/status/[statusSlug]/opengraph-image.tsx
  app/status/[statusSlug]/page.tsx
  components/landing/PricingSection.tsx
  components/themes/ThemedStatusPage.tsx
  convex/__tests__/monitors.test.ts
  lib/constants.ts
  lib/og-fonts.ts
  lib/themes.ts
Due: lint, format

fix: address CodeRabbit review feedback
  app/page.tsx
  app/status/[statusSlug]/opengraph-image.tsx
  components/landing/PricingSection.tsx
  components/themes/ThemedStatusPage.tsx
Due: lint, format

feat: SEO foundation — sitemap, OG images, JSON-LD, SSR landing, powered-by badge (#152)
  app/layout.tsx
  app/opengraph-image.tsx
  app/page.tsx
  app/pricing/layout.tsx
  app/robots.ts
  app/sitemap.ts
  app/status/[statusSlug]/opengraph-image.tsx
  app/status/[statusSlug]/page.tsx
  components/landing/AnimateOnView.tsx
  components/landing/HeroMonitorPanel.tsx
  components/landing/Navigation.tsx
  components/landing/PricingSection.tsx
  components/themes/ThemedStatusPage.tsx
  convex/__tests__/monitors.test.ts
  convex/monitors.ts
  lib/__tests__/json-ld.test.ts
  lib/constants.ts
  lib/json-ld.ts
  lib/og-fonts.ts
  lib/themes.ts
  middleware.ts
  public/llms.txt
Due: lint, format

feat: migrate from Lucide to Phosphor Icons + Heartbeat logo/favicons
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  app/page.tsx
  app/pricing/page.tsx
  bun.lock
  components/AddMonitorForm.tsx
  components/DashboardMonitorCard.tsx
  components/DashboardNavbar.tsx
  components/DeleteConfirmModal.tsx
  components/MonitorSettingsModal.tsx
  components/StatusPagePreviewBanner.tsx
  components/SubscriptionGate.tsx
  components/ThemeSelector.tsx
  components/ThemeUpgradePrompt.tsx
  components/ZenStatusHero.tsx
  components/landing/PricingSection.tsx
  next.config.ts
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/logo.svg
  public/site.webmanifest
Due: lint, format

chore: add reproducible favicon generation script
  scripts/gen-favicons.sh
Due: none

feat: Phosphor Icons migration + Heartbeat logo/favicons (#155)
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  app/page.tsx
  app/pricing/page.tsx
  bun.lock
  components/AddMonitorForm.tsx
  components/DashboardMonitorCard.tsx
  components/DashboardNavbar.tsx
  components/DeleteConfirmModal.tsx
  components/MonitorSettingsModal.tsx
  components/StatusPagePreviewBanner.tsx
  components/SubscriptionGate.tsx
  components/ThemeSelector.tsx
  components/ThemeUpgradePrompt.tsx
  components/ZenStatusHero.tsx
  components/landing/PricingSection.tsx
  next.config.ts
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/logo.svg
  public/site.webmanifest
  scripts/gen-favicons.sh
Due: lint, format

fix: make cleanup retention tier-aware
  convex/__tests__/monitoring.test.ts
  convex/constants.ts
  convex/monitoring.ts
  lib/tiers.ts
Due: lint, format

test: use valid pulse interval in cleanup tests
  convex/__tests__/monitoring.test.ts
Due: lint, format

docs: add retro notes for issue 108
  .groom/retro.md
Due: format

fix: unblock cleanup retention review findings
  .groom/retro.md
  convex/__tests__/monitoring.test.ts
  convex/monitoring.ts
  convex/subscriptions.ts
Due: lint, format

fix: persist cleanup cursor across rescheduled runs
  convex/__tests__/monitoring.test.ts
  convex/crons.ts
  convex/monitoring.ts
Due: lint, format

fix: make cleanupOldChecks honor tier retention (#157)
  .groom/retro.md
  convex/__tests__/monitoring.test.ts
  convex/constants.ts
  convex/crons.ts
  convex/monitoring.ts
  convex/subscriptions.ts
  lib/tiers.ts
Due: lint, format

feat: scaffold api v1 contract and lint gate
  .github/workflows/test.yml
  README.md
  docs/api/conventions.md
  docs/api/openapi.v1.yaml
  lib/api/__tests__/contracts.test.ts
  lib/api/contracts.ts
  package.json
Due: lint, format

chore: log retro signals for api contract slice
  .groom/retro.md
Due: format

fix: address API contract review findings
  docs/api/conventions.md
  docs/api/openapi.v1.yaml
  lib/api/__tests__/contracts.test.ts
  lib/api/contracts.ts
Due: lint, format

fix: validate problem status range in contract helper
  lib/api/__tests__/contracts.test.ts
  lib/api/contracts.ts
Due: lint, format

fix: align required ProblemDetails instance field
  docs/api/conventions.md
  lib/api/contracts.ts
Due: lint, format

fix: enforce pagination contract invariants
  docs/api/openapi.v1.yaml
  lib/api/__tests__/contracts.test.ts
  lib/api/contracts.ts
Due: lint, format

feat: scaffold API v1 conventions and OpenAPI contract (#158)
  .github/workflows/test.yml
  .groom/retro.md
  README.md
  docs/api/conventions.md
  docs/api/openapi.v1.yaml
  lib/api/__tests__/contracts.test.ts
  lib/api/contracts.ts
  package.json
Due: lint, format

ci: add trufflehog workflow
  .github/workflows/trufflehog.yml
Due: none

ci: normalize required merge gate
  .github/workflows/test.yml
Due: none

feat: "Is It Down?" public uptime checker tool
  DESIGN_MEMORY.md
  README.md
  app/api/is-it-down/route.ts
  app/is-it-down/[hostname]/page.tsx
  app/is-it-down/layout.tsx
  app/is-it-down/page.tsx
  app/page.tsx
  app/sitemap.ts
  bun.lock
  components/Footer.tsx
  components/IsItDownResultCard.tsx
  convex/__tests__/isItDown.test.ts
  convex/_generated/api.d.ts
  convex/crons.ts
  convex/isItDown.ts
  convex/schema.ts
  docs/specs/is-it-down.md
  lib/convex-public.ts
  lib/domain/__tests__/is-it-down.test.ts
  lib/domain/index.ts
  lib/domain/is-it-down.ts
  middleware.ts
  package.json
  scripts/install-hooks.sh
Due: lint, format

fix: Unblock CI workflows
  .github/workflows/test.yml
  .github/workflows/trufflehog.yml
Due: none

ci: add trufflehog workflow (#159)
  .github/workflows/test.yml
  .github/workflows/trufflehog.yml
Due: none

fix: Address is-it-down review feedback
  app/api/is-it-down/__tests__/route.test.ts
  app/api/is-it-down/route.ts
  app/is-it-down/[hostname]/__tests__/page.test.tsx
  app/is-it-down/__tests__/layout.test.tsx
  app/is-it-down/__tests__/page.test.tsx
  app/is-it-down/page.tsx
  components/__tests__/IsItDownResultCard.test.tsx
  convex/__tests__/isItDown.test.ts
  convex/isItDown.ts
  convex/migrations.ts
  convex/monitors.ts
  convex/schema.ts
  lib/domain/__tests__/is-it-down.test.ts
  lib/domain/is-it-down.ts
  lib/public-is-it-down.ts
  package.json
Due: lint, format

fix: Harden CI workflow gates
  .github/workflows/test.yml
  .github/workflows/trufflehog.yml
Due: none

fix: Simplify merge gate success check
  .github/workflows/test.yml
Due: none

fix: Address remaining is-it-down review feedback
  app/is-it-down/[hostname]/__tests__/page.test.tsx
  app/is-it-down/[hostname]/page.tsx
  app/is-it-down/__tests__/page.test.tsx
  app/is-it-down/page.tsx
  components/IsItDownResultCard.tsx
  components/__tests__/IsItDownResultCard.test.tsx
  convex/__tests__/isItDown.test.ts
  convex/crons.ts
Due: lint, format

fix: Harden is-it-down probe gating
  app/api/is-it-down/__tests__/route.test.ts
  app/is-it-down/__tests__/page.test.tsx
  app/is-it-down/page.tsx
  convex/__tests__/isItDown.test.ts
  convex/isItDown.ts
  convex/schema.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}, but not: _generated
  format: any of: *.{ts,tsx,json,md,css}
