Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --no-warn-ignored

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: Enrich UptimeBar tooltip with uptime % and check count (#100)
  components/UptimeBar.tsx
  components/__tests__/UptimeBarFull.test.tsx
  convex/__tests__/checks.test.ts
  convex/checks.ts
Due: lint, format

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  a2e5b46aaf0a73e39c912b1f52dd7543e7e07c59
Due: none

refactor: Extract magic threshold constants to domain layer (closes #49)
  convex/checks.ts
  convex/monitoring.ts
  lib/domain/__tests__/status.test.ts
  lib/domain/status.ts
Due: lint, format

refactor: Complete threshold constant extraction (polish #101)
  convex/__tests__/publicTypes.test.ts
  convex/monitoring.ts
  convex/monitors.ts
  convex/publicTypes.ts
  lib/domain/__tests__/status.test.ts
  lib/domain/status.ts
Due: lint, format

refactor: Extract magic threshold constants to domain layer (#101)
  convex/__tests__/publicTypes.test.ts
  convex/checks.ts
  convex/monitoring.ts
  convex/monitors.ts
  convex/publicTypes.ts
  lib/domain/__tests__/status.test.ts
  lib/domain/status.ts
Due: lint, format

fix: Harden Sentry and PostHog privacy defaults
  lib/posthog/provider.tsx
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format

fix: Add touch support and 44px hit targets to ZenUptimeChart (#44)
  components/ZenUptimeChart.tsx
  components/__tests__/ZenUptimeChart.test.tsx
Due: lint, format

fix: Prevent overlapping hit areas and touch/mouse tooltip flicker
  components/ZenUptimeChart.tsx
Due: lint, format

test: Fix fragile touch-target test for dynamic hit radius
  components/__tests__/ZenUptimeChart.test.tsx
Due: lint, format

fix: Switch to pointer events to fix touch/mouse tooltip interaction
  components/ZenUptimeChart.tsx
  components/__tests__/ZenUptimeChart.test.tsx
Due: lint, format

chore: Migrate package manager from pnpm to bun
  .env.example
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  TESTING.md
  bun.lock
  convex/http.ts
  convex/stripe.ts
  docs/adr/0001-kyoto-moss-design-system.md
  lefthook.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: lint, format

chore: Fix pre-push hook to use vitest via bun run test
  lefthook.yml
Due: none

fix: Harden Sentry and PostHog privacy defaults (#103)
  lib/posthog/provider.tsx
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: lint, format

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  e3eb3e57edfdcd36619ca16b25a5968c90ee8ccc
Due: none

chore: Add .gitattributes to exclude lockfiles from diffs
  .gitattributes
Due: none

ci: Upgrade Cerberus to v2 (OpenRouter + OpenCode)
  .github/workflows/cerberus.yml
Due: none

fix: Use bun run for CI and hook binary invocations
  .github/workflows/release.yml
  .github/workflows/test.yml
  lefthook.yml
Due: none

chore: Migrate package manager from pnpm to bun (#105)
  .env.example
  .gitattributes
  .github/workflows/cerberus.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  TESTING.md
  bun.lock
  convex/http.ts
  convex/stripe.ts
  docs/adr/0001-kyoto-moss-design-system.md
  lefthook.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: lint, format

fix: Add touch support and 44px hit targets to ZenUptimeChart (#104)
  components/ZenUptimeChart.tsx
  components/__tests__/ZenUptimeChart.test.tsx
Due: lint, format

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  1ff1d1990f56d210b3d902a67a8e81b786e8ee9a
Due: none

chore: Run groom
  .groom/plan-2026-02-23.md
  project.md
Due: format

fix: Remove false claims from landing page and pricing
  app/page.tsx
  app/pricing/page.tsx
Due: lint, format

test: Update trust bar test to match true stats
  app/__tests__/home.test.tsx
Due: lint, format

ci: Rename Test Suite job to Test to match branch protection rule
  .github/workflows/test.yml
Due: none

fix: Remove false claims from landing page and pricing (#124)
  .github/workflows/test.yml
  app/__tests__/home.test.tsx
  app/page.tsx
  app/pricing/page.tsx
Due: lint, format

refactor: Dedupe SSRF hostname checks across convex and client
  convex/lib/urlValidation.ts
  lib/domain/ssrf.ts
  lib/domain/validation.ts
Due: lint, format

fix: Export isInternalHostname from domain validation index
  lib/domain/validation.ts
Due: lint, format

fix: Harden SSRF IPv6 coverage and share URL validator
  convex/lib/__tests__/urlValidation.test.ts
  convex/lib/urlValidation.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
  lib/domain/validation.ts
Due: lint, format

style: Use root alias imports for shared SSRF helpers
  convex/lib/urlValidation.ts
  lib/domain/validation.ts
Due: lint, format

fix: Block trailing-dot hostname SSRF bypass
  convex/lib/__tests__/urlValidation.test.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
Due: lint, format

fix: Block IPv4-mapped IPv6 SSRF bypass
  convex/lib/__tests__/urlValidation.test.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
Due: lint, format

Refactor: Share SSRF hostname checks between convex and client (#125)
  convex/lib/__tests__/urlValidation.test.ts
  convex/lib/urlValidation.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
  lib/domain/validation.ts
Due: lint, format

fix: Close SSRF bypasses in monitor URL validation
  convex/lib/__tests__/urlValidation.test.ts
  convex/lib/urlValidation.ts
  convex/monitoring.ts
  convex/monitors.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
Due: lint, format

fix: Close SSRF bypasses in monitor URL validation (#127)
  convex/lib/__tests__/urlValidation.test.ts
  convex/lib/urlValidation.ts
  convex/monitoring.ts
  convex/monitors.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/ssrf.ts
Due: lint, format

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: none

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

feat: apply Field design system tokens across app
  .gitignore
  app/dashboard/error.tsx
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  app/design-lab/page.tsx
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  components/InkAtmosphere.tsx
  components/StatusIndicator.tsx
  components/SubscriptionGate.tsx
  components/ZenStatusHero.tsx
  components/landing/StatusDisplayVariants.tsx
  convex/_generated/dataModel.d.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}, but not: _generated
  format: any of: *.{ts,tsx,json,md,css}
