Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --no-warn-ignored

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Add Claude Code GitHub Workflow (#61)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(security): Add auth checks to checks.ts query functions (#60)
  convex/__tests__/checks.test.ts
  convex/__tests__/monitoring.test.ts
  convex/checks.ts
Due: lint, format

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b75c508d9038fbc9d41dadad57c7527d29c311ec
Due: none

fix(security): Add auth check to incidents.getForMonitor query
  convex/incidents.ts
Due: lint, format

test: Update tests to use auth for getForMonitor query
  convex/__tests__/incidents.test.ts
  convex/__tests__/monitoring.test.ts
  convex/__tests__/notifications.test.ts
Due: lint, format

test: Add auth failure test cases for getForMonitor
  convex/__tests__/incidents.test.ts
Due: lint, format

fix(security): Add auth check to incidents.getForMonitor query (#62)
  convex/__tests__/incidents.test.ts
  convex/__tests__/monitoring.test.ts
  convex/__tests__/notifications.test.ts
  convex/incidents.ts
Due: lint, format

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  c7954eaad9f77133ffd9979d3252716ada79eefd
Due: none

perf: Use singleton ConvexHttpClient for public queries
  lib/convex-public.ts
Due: lint, format

fix: Add explicit env validation for NEXT_PUBLIC_CONVEX_URL
  lib/convex-public.ts
Due: lint, format

perf: Use singleton ConvexHttpClient for public queries (#63)
  lib/convex-public.ts
Due: lint, format

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5831313e3dfc87f23077749e19db0d6de968e709
Due: none

feat(design): Implement Glass Dashboard status page
  app/status/[statusSlug]/page.tsx
  components/GlassStatusPage.tsx
Due: lint, format

fix(ci): Exclude design system components from coverage
  vitest.config.ts
Due: lint, format

Revert "fix(ci): Exclude design system components from coverage"
  vitest.config.ts
Due: lint, format

test: Add comprehensive test coverage for design system
  components/__tests__/ApdexScore.test.tsx
  components/__tests__/GlassStatusPage.test.tsx
  components/__tests__/HoverSparkline.test.tsx
  components/__tests__/ResponseTimeline.test.tsx
  components/ui/__tests__/Button.test.tsx
  components/ui/__tests__/Card.test.tsx
  components/ui/__tests__/StatusIndicator.test.tsx
  lib/design/__tests__/apply.test.ts
  lib/design/__tests__/schema.test.ts
  lib/design/__tests__/tokens.test.ts
  lib/domain/__tests__/status.test.ts
Due: lint, format

feat(design): Add landing page with Bento Grid + design lab
  app/design-lab/page.tsx
  app/globals.css
  app/page.tsx
  components/landing/DashboardPreviewCard.tsx
  components/landing/StatusDisplayVariants.tsx
  components/landing/StatusPreviewCard.tsx
  middleware.ts
Due: lint, format

test: Update home test for new landing page copy
  app/__tests__/home.test.tsx
Due: lint, format

fix(ci): Exclude design lab components from coverage
  vitest.config.ts
Due: lint, format

test(e2e): Update smoke test for new landing page
  e2e/smoke.spec.ts
Due: lint, format

refactor: Address PR feedback
  app/globals.css
  components/AnimatedUptimePercentage.tsx
  components/DashboardMonitorCard.tsx
  components/GlassStatusPage.tsx
  components/UptimeBar.tsx
  components/__tests__/AnimatedUptimePercentage.test.tsx
  components/__tests__/GlassStatusPage.test.tsx
  components/__tests__/UptimeBar.test.tsx
  components/landing/StatusDisplayVariants.tsx
  components/ui/Card.tsx
  components/ui/GlassPanel.tsx
  components/ui/StatusIndicator.tsx
  docs/adr/0001-kyoto-moss-design-system.md
  lib/design/__tests__/apply.test.ts
  lib/design/__tests__/schema.test.ts
  lib/design/index.ts
  lib/design/schema.ts
  lib/domain/__tests__/status.test.ts
  lib/domain/status.ts
Due: lint, format

fix: Clamp query params and validate timeouts
  convex/__tests__/checks.test.ts
  convex/__tests__/monitors.test.ts
  convex/checks.ts
  convex/monitors.ts
Due: lint, format

fix: Use nullish defaults and add timeout test
  convex/__tests__/monitors.test.ts
  convex/checks.ts
Due: lint, format

Clamp query bounds and validate timeouts (#70)
  convex/__tests__/checks.test.ts
  convex/__tests__/monitors.test.ts
  convex/checks.ts
  convex/monitors.ts
Due: lint, format

test: Add monitoring integration flow
  convex/__tests__/monitoring-integration.test.ts
Due: lint, format

test: Improve monitoring integration assertions
  convex/__tests__/monitoring-integration.test.ts
Due: lint, format

test: Add monitoring integration flow (#71)
  convex/__tests__/monitoring-integration.test.ts
Due: lint, format

feat: Add Stripe subscription monetization
  app/api/stripe/webhook/route.ts
  app/dashboard/layout.tsx
  app/dashboard/settings/billing/page.tsx
  app/pricing/page.tsx
  components/SubscriptionGate.tsx
  convex/__tests__/checks.test.ts
  convex/__tests__/incidents.test.ts
  convex/__tests__/monitoring-integration.test.ts
  convex/__tests__/monitoring.test.ts
  convex/__tests__/monitors.test.ts
  convex/__tests__/notifications.test.ts
  convex/__tests__/publicQueries.test.ts
  convex/_generated/api.d.ts
  convex/monitors.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.ts
  lib/stripe.ts
  lib/tiers.ts
  package.json
  pnpm-lock.yaml
  tests/convex.ts
Due: lint, format

feat: Add Stripe subscription monetization (#73)
  app/api/stripe/webhook/route.ts
  app/dashboard/layout.tsx
  app/dashboard/settings/billing/page.tsx
  app/pricing/page.tsx
  components/SubscriptionGate.tsx
  convex/__tests__/checks.test.ts
  convex/__tests__/incidents.test.ts
  convex/__tests__/monitoring-integration.test.ts
  convex/__tests__/monitoring.test.ts
  convex/__tests__/monitors.test.ts
  convex/__tests__/notifications.test.ts
  convex/__tests__/publicQueries.test.ts
  convex/_generated/api.d.ts
  convex/monitors.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.ts
  lib/stripe.ts
  lib/tiers.ts
  package.json
  pnpm-lock.yaml
  tests/convex.ts
Due: lint, format

fix: Add /pricing and /api/stripe/webhook to public routes
  middleware.ts
Due: lint, format

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b8b84ffac4ee15dc020c101ae8740c52dbb96fe5
Due: none

test: Exclude Stripe integration files from coverage
  vitest.config.ts
Due: lint, format

Revert "test: Exclude Stripe integration files from coverage"
  vitest.config.ts
Due: lint, format

test: Add comprehensive tests for Stripe subscription logic
  components/__tests__/SubscriptionGate.test.tsx
  convex/__tests__/subscriptions.test.ts
  lib/__tests__/tiers.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}, but not: _generated
  format: any of: *.{ts,tsx,json,md,css}
