Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      exclude: "_generated"
      run: pnpm eslint {staged_files} --max-warnings 0 --no-warn-ignored
    format:
      glob: "*.{ts,tsx,json,md,css}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    typecheck:
      run: pnpm tsc --noEmit

pre-push:
  commands:
    test:
      run: pnpm test

commit-msg:
  commands:
    lint-commit:
      run: pnpm commitlint --edit {1}

fix(security): Move subscription mutations behind Convex HTTP action
  app/api/stripe/webhook/route.ts
  components/SubscriptionGate.tsx
  components/__tests__/SubscriptionGate.test.tsx
  convex/__tests__/subscriptions.test.ts
  convex/http.ts
  convex/subscriptions.ts
  middleware.ts
  tests/convex.ts
Due: lint, format

chore: Add thinktank outputs to gitignore
  .gitignore
Due: none

chore: Regenerate Convex types after HTTP router deploy
  convex/_generated/api.d.ts
Due: format

fix: Clean up setTimeout in ZenUptimeChart useEffect
  components/ZenUptimeChart.tsx
Due: lint, format

ci: Exclude Stripe integration files from coverage thresholds
  vitest.config.ts
Due: lint, format

Revert "ci: Exclude Stripe integration files from coverage thresholds"
  vitest.config.ts
Due: lint, format

test: Add comprehensive tests for Stripe integration modules
  convex/__tests__/http.test.ts
  convex/__tests__/stripe.test.ts
  convex/http.ts
  lib/__tests__/stripe.test.ts
Due: lint, format

fix(stripe): Comprehensive Stripe integration hardening
  convex/__tests__/subscriptions.test.ts
  convex/http.ts
  convex/stripe.ts
  convex/subscriptions.ts
  lib/stripe.ts
  tests/convex.ts
Due: lint, format

feat(stripe): Add webhook idempotency to prevent duplicate processing
  convex/__tests__/subscriptions.test.ts
  convex/crons.ts
  convex/http.ts
  convex/schema.ts
  convex/subscriptions.ts
Due: lint, format

chore(dev): Add Stripe CLI webhook forwarding to dev script
  package.json
  scripts/dev-stripe.sh
Due: format

feat(auth): Add Clerk sign-in and sign-up pages
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
Due: lint, format

feat(stripe): Add verification and setup scripts for Stripe webhooks
  package.json
  scripts/setup-stripe-webhook.sh
  scripts/verify-stripe.sh
Due: format

fix(stripe): Use async webhook signature verification for Convex runtime
  convex/http.ts
Due: lint, format

feat(billing): Add navigation paths to subscription management
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  components/DashboardNavbar.tsx
Due: lint, format

feat(stripe): Add out-of-order webhook event protection
  convex/http.ts
  convex/schema.ts
  convex/subscriptions.ts
  scripts/verify-stripe.sh
Due: lint, format

fix(stripe): Address PR review feedback
  convex/http.ts
  convex/stripe.ts
  scripts/dev-stripe.sh
  scripts/setup-stripe-webhook.sh
Due: lint, format

fix(test): Exclude http.ts from coverage (webhook handler)
  vitest.config.ts
Due: lint, format

fix(test): Add handler tests instead of excluding http.ts
  convex/__tests__/http.test.ts
  convex/http.ts
  vitest.config.ts
Due: lint, format

refactor(stripe): Extract TIERS to shared constants
  convex/constants.ts
  convex/subscriptions.ts
  lib/tiers.ts
Due: lint, format

fix(stripe): Throw on missing data instead of silent returns
  convex/__tests__/http.test.ts
  convex/__tests__/subscriptions.test.ts
  convex/http.ts
Due: lint, format

chore(convex): Update generated types for constants module
  convex/_generated/api.d.ts
Due: format

test: Add comprehensive tests for Stripe subscription logic (#74)
  .gitignore
  app/api/stripe/webhook/route.ts
  app/dashboard/page.tsx
  app/dashboard/settings/billing/page.tsx
  app/dashboard/settings/page.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
  components/DashboardNavbar.tsx
  components/SubscriptionGate.tsx
  components/ZenUptimeChart.tsx
  components/__tests__/SubscriptionGate.test.tsx
  convex/__tests__/http.test.ts
  convex/__tests__/stripe.test.ts
  convex/__tests__/subscriptions.test.ts
  convex/_generated/api.d.ts
  convex/constants.ts
  convex/crons.ts
  convex/http.ts
  convex/schema.ts
  convex/stripe.ts
  convex/subscriptions.ts
  lib/__tests__/stripe.test.ts
  lib/__tests__/tiers.test.ts
  lib/stripe.ts
  lib/tiers.ts
  middleware.ts
  package.json
  scripts/dev-stripe.sh
  scripts/setup-stripe-webhook.sh
  scripts/verify-stripe.sh
  tests/convex.ts
Due: lint, format

feat(observability): Add PostHog analytics and health check endpoint
  app/api/health/route.ts
  app/providers.tsx
  lib/posthog/events.ts
  lib/posthog/hooks.ts
  lib/posthog/index.ts
  lib/posthog/provider.tsx
  middleware.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

refactor(posthog): Remove unused exports, simplify module
  app/api/health/route.ts
  app/providers.tsx
  lib/posthog/events.ts
  lib/posthog/hooks.ts
  lib/posthog/index.ts
  lib/posthog/provider.tsx
Due: lint, format

docs: Add .env.example and update README
  .env.example
  README.md
Due: format

fix(docs): Add missing required env vars per PR review
  .env.example
  README.md
Due: format

docs: Add .env.example and update README (#76)
  .env.example
  README.md
Due: format

feat(observability): Add PostHog analytics and health check endpoint (#75)
  app/api/health/route.ts
  app/providers.tsx
  lib/posthog/index.ts
  lib/posthog/provider.tsx
  middleware.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  a6ac77d8b4ef78e64a0d33b121c8b7dcc1fa37bd
Due: none

fix(a11y): Add Escape key handler to MonitorSettingsModal
  components/MonitorSettingsModal.tsx
Due: lint, format

fix(a11y): Add screen reader support to cinematic StatusIndicator
  components/StatusIndicator.tsx
Due: lint, format

feat(ux): Add error boundaries for runtime crash handling
  app/dashboard/error.tsx
  app/error.tsx
Due: lint, format

fix(a11y): Use sr-only span instead of aria-label for screen readers
  components/StatusIndicator.tsx
Due: lint, format

fix(observability): Report errors to Sentry in error boundaries
  app/dashboard/error.tsx
  app/error.tsx
Due: lint, format

fix(a11y): Add Escape key handler to MonitorSettingsModal (#77)
  components/MonitorSettingsModal.tsx
Due: lint, format

fix(a11y): Add screen reader support to cinematic StatusIndicator (#78)
  components/StatusIndicator.tsx
Due: lint, format

feat(ux): Add error boundaries for runtime crash handling (#79)
  app/dashboard/error.tsx
  app/error.tsx
Due: lint, format

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format
