Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --no-warn-ignored

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix(ci): use GH_RELEASE_TOKEN for semantic-release bypass
  .github/workflows/release.yml
Due: none

test: add notification throttling tests (#92)
  convex/__tests__/notifications.test.ts
  convex/notifications.ts
Due: lint, format

fix(ci): use GH_RELEASE_TOKEN for semantic-release
  .github/workflows/release.yml
Due: none

fix(status): Handle unavailable uptime stats gracefully (#91)
  app/status/[statusSlug]/page.tsx
  components/GlassStatusPage.tsx
  components/StatusPageDetails.tsx
  components/themes/BlueprintStatusPage.tsx
  components/themes/BroadsheetStatusPage.tsx
  components/themes/MemphisStatusPage.tsx
  components/themes/MissionControlStatusPage.tsx
  components/themes/SwissStatusPage.tsx
  components/themes/UkiyoStatusPage.tsx
  components/themes/types.ts
Due: lint, format

fix(security): add SSRF protection to webhook URL validation (#90)
  convex/userSettings.ts
Due: lint, format

feat: Bento Zen landing page with authenticated user redirect (#88)
  app/__tests__/home.test.tsx
  app/globals.css
  app/page.tsx
  e2e/smoke.spec.ts
  middleware.ts
Due: lint, format

docs: Add Convex cleanup and Promise.allSettled conventions (#86)
  CLAUDE.md
Due: format

feat: Add sonner toast notifications for user feedback (#39)
  app/dashboard/settings/page.tsx
  app/providers.tsx
  components/AddMonitorForm.tsx
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(ci): Add coverage tests, fix Cerberus workflow, sync Toaster theme
  .github/workflows/cerberus.yml
  app/providers.tsx
  components/__tests__/ThemeToggle.test.tsx
  components/__tests__/UptimeBarFull.test.tsx
  convex/__tests__/slugs.test.ts
Due: lint, format

fix(ci): Install pnpm before Cerberus action to fix pnpm-not-found error
  .github/workflows/cerberus.yml
Due: none

fix(ci): Pin Cerberus to kimi-cli SHA (pre-OpenRouter migration)
  .github/workflows/cerberus.yml
Due: none

refactor(tests): Address CodeRabbit review feedback on test conventions
  components/__tests__/UptimeBarFull.test.tsx
  convex/lib/__tests__/slugs.test.ts
Due: lint, format

refactor: Safe theme fallback in ThemedToaster
  app/providers.tsx
Due: lint, format

feat(ux): Replace inline feedback messages with sonner toast notifications (#95)
  .github/workflows/cerberus.yml
  app/dashboard/settings/page.tsx
  app/providers.tsx
  components/AddMonitorForm.tsx
  components/__tests__/ThemeToggle.test.tsx
  components/__tests__/UptimeBarFull.test.tsx
  convex/lib/__tests__/slugs.test.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  b1afaf03abd7299b4f8f7e76ffd71a7407861631
Due: none

feat(ux): Replace browser confirm() with custom DeleteConfirmModal (#41)
  components/DeleteConfirmModal.tsx
  components/MonitorSettingsModal.tsx
  components/__tests__/DeleteConfirmModal.test.tsx
Due: lint, format

fix(ux): Reset showDeleteConfirm on successful delete
  components/MonitorSettingsModal.tsx
Due: lint, format

fix(ux): Gate settings modal Escape handler when delete confirm is open
  components/MonitorSettingsModal.tsx
Due: lint, format

fix(ux): Prevent modal dismissal during active deletion
  components/DeleteConfirmModal.tsx
  components/__tests__/DeleteConfirmModal.test.tsx
Due: lint, format

fix(ux): Guard settings modal backdrop click when delete confirm is open
  components/MonitorSettingsModal.tsx
Due: lint, format

test: Add X close button coverage for DeleteConfirmModal
  components/__tests__/DeleteConfirmModal.test.tsx
Due: lint, format

feat(ux): Replace browser confirm() with custom DeleteConfirmModal (#96)
  components/DeleteConfirmModal.tsx
  components/MonitorSettingsModal.tsx
  components/__tests__/DeleteConfirmModal.test.tsx
Due: lint, format

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  45aed5e87d973a6c2e3859a485490af02f7ed116
Due: none

feat: Warn on unsaved settings navigation (closes #42)
  app/dashboard/settings/page.tsx
  hooks/__tests__/useUnsavedChangesWarning.test.ts
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

fix(ux): Guard in-app navigation against unsaved settings changes
  app/dashboard/settings/page.tsx
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
Due: lint, format

fix(ux): Guard all in-app links via document-level interceptor
  app/dashboard/settings/page.tsx
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

fix(ux): Use positive-match for internal links in nav guard
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

fix(ux): Use font-serif/font-sans in unsaved changes modal
  app/dashboard/settings/page.tsx
Due: lint, format

refactor: Harden nav guard edge cases
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

refactor: Extract modal, add Escape + aria attrs
  app/dashboard/settings/page.tsx
Due: lint, format

fix(security): Reject protocol-relative URLs in nav guard
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

feat(ux): Warn on unsaved settings navigation (#98)
  app/dashboard/settings/page.tsx
  hooks/__tests__/useUnsavedChangesWarning.test.tsx
  hooks/useUnsavedChangesWarning.ts
Due: lint, format

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  e040a951fcb7333e6c751fd42a71e85a864ba8e7
Due: none

feat: Enrich UptimeBar tooltip with uptime % and check count (#43)
  components/UptimeBar.tsx
  components/__tests__/UptimeBarFull.test.tsx
  convex/__tests__/checks.test.ts
  convex/checks.ts
Due: lint, format

refactor: Align getDailyStatus naming and precision with codebase
  components/UptimeBar.tsx
  convex/checks.ts
Due: lint, format

test: Add threshold boundary and tooltip content tests
  components/__tests__/UptimeBarFull.test.tsx
  convex/__tests__/checks.test.ts
Due: lint, format

fix: UTC-safe tooltip date and memoize UptimeBar data structures
  components/UptimeBar.tsx
  components/__tests__/UptimeBarFull.test.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{ts,tsx}, but not: _generated
  format: any of: *.{ts,tsx,json,md,css}
