Repository misty-step/heartbeat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --no-warn-ignored

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat(status): zen minimalist status page with frosted card
  app/globals.css
  app/status/[statusSlug]/page.tsx
  components/StatusPageDetails.tsx
  components/ZenStatusHero.tsx
  components/ZenStatusIndicator.tsx
  components/ZenUptimeChart.tsx
  package.json
  pnpm-lock.yaml
  public/images/deer-01.webp
Due: lint, format

feat(status): enhance zen design with premium glass ui
  app/globals.css
  app/status/[statusSlug]/page.tsx
  components/IncidentTimeline.tsx
  components/StatusPageDetails.tsx
  components/UptimeBar.tsx
  components/ZenStatusHero.tsx
  components/ZenUptimeChart.tsx
  components/__tests__/IncidentTimeline.test.tsx
  components/__tests__/UptimeBarFull.test.tsx
  components/ui/GlassPanel.tsx
  components/ui/StatCard.tsx
  convex/checks.ts
  public/images/deer-alert-01.webp
  public/images/deer-thunder-01.webp
Due: lint, format

test: add coverage for ui components to meet 80% threshold
  components/ui/__tests__/GlassPanel.test.tsx
  components/ui/__tests__/StatCard.test.tsx
  vitest.config.ts
Due: lint, format

test: add unit tests for zen status components
  components/ZenStatusIndicator.tsx
  components/__tests__/StatusPageDetails.test.tsx
  components/__tests__/ZenStatusHero.test.tsx
  components/__tests__/ZenUptimeChart.test.tsx
  tests/setup.ts
  vitest.config.ts
Due: lint, format

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  7d983d40f9a5a23bf1040b743a84c8211b0d771e
Due: none

fix: make status slug optional to unblock production deployment
  .github/workflows/test.yml
  CLAUDE.md
  components/DashboardMonitorCard.tsx
  convex/schema.ts
Due: lint, format

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  09713277e6b9cc63974282e57e9bbd87319846bb
Due: none

fix: make visibility optional to complete migration fix
  components/DashboardMonitorCard.tsx
  convex/schema.ts
Due: lint, format

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  5f60b95753b888f8290ed7600cc6dbfe3918cbea
Due: none

fix: centralize visibility checks with type guard helper
  convex/_generated/api.d.ts
  convex/checks.ts
  convex/incidents.ts
  convex/lib/visibility.ts
  convex/migrations.ts
  convex/monitors.ts
Due: lint, format

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  9f7d5443bd4091a65b5d460b87e661f52e55f191
Due: none

chore: add diagnostic query for monitor debugging
  convex/migrations.ts
Due: lint, format

fix: Use ConvexHttpClient for ISR-compatible public queries
  app/status/[statusSlug]/page.tsx
  commitlint.config.mjs
  lib/convex-public.ts
Due: lint, format

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  64989b75cb03f0374217e9a6a5a8dc1bfd8cf1eb
Due: none

Fix React Server Components CVE vulnerabilities
  package.json
  pnpm-lock.yaml
Due: format

chore: Migrate backlog to GitHub issues
  BACKLOG.md
Due: format

refactor: Remove dead code (closes #19)
  components/BackgroundOrbs.tsx
  components/MonitorCard.tsx
  components/ScrollingCheckLog.tsx
  components/StatusHeader.tsx
  components/StatusPageHero.tsx
  components/__tests__/BackgroundOrbs.test.tsx
  components/__tests__/StatusHeader.test.tsx
  components/__tests__/StatusPageHero.test.tsx
  convex/__tests__/incidents.test.ts
  convex/__tests__/monitors.test.ts
  convex/incidents.ts
  convex/monitors.ts
  vitest.config.ts
Due: lint, format

fix: Block internal network URLs to prevent SSRF attacks
  convex/lib/urlValidation.ts
  convex/monitoring.ts
  convex/monitors.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/validation.ts
Due: lint, format

test: Add SSRF validation tests and fix coverage thresholds
  convex/__tests__/monitors.test.ts
  convex/lib/__tests__/urlValidation.test.ts
  vitest.config.ts
Due: lint, format

fix: Block internal network URLs to prevent SSRF attacks (#27)
  convex/__tests__/monitors.test.ts
  convex/lib/__tests__/urlValidation.test.ts
  convex/lib/urlValidation.ts
  convex/monitoring.ts
  convex/monitors.ts
  lib/domain/__tests__/validation.test.ts
  lib/domain/validation.ts
  vitest.config.ts
Due: lint, format

chore(release): 1.1.5 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  c842545e3f07bbcac54b4db60f6146605c0ccf98
Due: none

feat: Add email notifications for incident alerts
  app/dashboard/settings/page.tsx
  components/DashboardNavbar.tsx
  convex/_generated/api.d.ts
  convex/lib/email.ts
  convex/monitoring.ts
  convex/notifications.ts
  convex/schema.ts
  convex/userSettings.ts
Due: lint, format

test: Add fake timers for scheduled notification actions
  convex/__tests__/incidents.test.ts
  convex/__tests__/publicQueries.test.ts
Due: lint, format

fix: exclude new notification files from coverage thresholds
  vitest.config.ts
Due: lint, format

test: Add finishAllScheduledFunctions to complete notification handling
  convex/__tests__/incidents.test.ts
Due: lint, format

chore: Use mistystep.io as email sender domain
  convex/lib/email.ts
Due: lint, format

test: Add comprehensive tests for email notifications
  convex/__tests__/notifications.test.ts
  convex/__tests__/userSettings.test.ts
  convex/lib/__tests__/email.test.ts
  convex/userSettings.ts
  vitest.config.ts
Due: lint, format

feat: Add email notifications for incidents (#28)
  app/dashboard/settings/page.tsx
  components/DashboardNavbar.tsx
  convex/__tests__/incidents.test.ts
  convex/__tests__/notifications.test.ts
  convex/__tests__/publicQueries.test.ts
  convex/__tests__/userSettings.test.ts
  convex/_generated/api.d.ts
  convex/lib/__tests__/email.test.ts
  convex/lib/email.ts
  convex/monitoring.ts
  convex/notifications.ts
  convex/schema.ts
  convex/userSettings.ts
  vitest.config.ts
Due: lint, format

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  679167a321f9c662b43c61205186d4712c968f8f
Due: none

fix(security): Add auth checks to checks.ts query functions
  convex/__tests__/checks.test.ts
  convex/__tests__/monitoring.test.ts
  convex/checks.ts
Due: lint, format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  lint: any of: *.{ts,tsx}, but not: _generated
  format: any of: *.{ts,tsx,json,md,css}
